<!DOCTYPE html>
<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="ng-file-upload-bower-12.2.13/ng-file-upload.js"></script>
        <script src="ng-file-upload-bower-12.2.13/ng-file-upload-shim.js"></script>
	</head>
	<body>
        <form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
            Single Image with validations
            <button class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
            ngf-resize="{width: 100, height: 100}">Select</button>
            <button type="submit" ng-click="submit()">submit</button>
        </form>
            
        <script type="text/javascript">
            var app = angular.module('fileUpload', ['ngFileUpload']);

                app.controller('MyCtrl', ['$scope', 'Upload', function ($scope, Upload) {
                    // upload later on form submit or something similar
                    $scope.submit = function() {
                      if ($scope.form.file.$valid && $scope.file) {
                        $scope.upload($scope.file);
                        console.log('test1',$scope.file);
                      }
                    };

                    // upload on file select or drop
                    $scope.upload = function (file) {
                        console.log('test2',$scope.file);
                        Upload.upload({
                            url: 'http://localhost:5000/get_pred',
                            method: 'POST',
							 headers: {
                                "Accept": "*/*",

                                "Cache-Control": "no-cache",

                                "Content-Length": "194",

                                "Content-Type": "multipart/form-data; boundary=---011000010111000001101001; boundary=------------------------a31d9bbb3c265a14",

                                "Host": "httpbin.org",

                                "Postman-Token": "fcd35ead-41e4-c204-87d8-a430d1ff22bd",

                                "User-Agent": "curl/7.37.1"

                            },

                             data : {image:file},
							 files : {image : file}
                        }).then(function (resp) {
							console.log(resp)
								alert(resp.data)
                            //console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
                        }, function (resp) {
                            console.log('Error status: ' + resp.status);
							console.log(resp)
                        }, function (evt) {
                            var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                            // console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
                        }); 
                    };
                }]);
        </script>
	</body>
</html>
